@model E_shop_MVC.Web.ViewModels.Message.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h3>Messages</h3>

    @if (Model.Messages.Count != 0)
    {
         foreach (var message in Model.Messages)
         {
         <div>
            <a href="">@message.Title</a>
         </div>
         }
     }
     else
     {
       <h3>There are no messages</h3>
     }


