@model E_shop_MVC.Web.ViewModels.Message.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h3>Messages</h3>

    @if (Model.Messages.Count != 0)
    {
         <table>
             <tr>
                 <th width="200">Title</th>
                 <th width="600">Content</th>
             </tr>
             @foreach (var message in Model.Messages)
             {
             <tr>
                 <td><a href="">@message.Title</a></td>
                 <td><a href="">@message.Content</a></td>
             </tr>
            }
         </table>
         
     }
     else
     {
       <h3>There are no messages</h3>
     }


