
@{
    ViewBag.Title = "YourProducts";
}
<h2>Products</h2>
<nav class="navbar navbar-inverse zrow">
    <ul class="nav navbar-nav col-md-8">
        <li>@Html.ActionLink("Search", "Search", "Product")</li>
        <li>@Html.ActionLink("Your products", "YourProducts", "Product")</li>
        <li>@Html.ActionLink("Add product", "AddProduct", "Product")</li>
    </ul>
</nav>
<h2>YourProducts</h2>

