
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
   <h2>Home page</h2>
    <p>It is an online store for the sale and purchase of various kinds of goods!</p> 
    <p>Only registered users can add new products for sale!</p> 
</div>


